[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
certifi = "==2020.6.20"
charset-normalizer = "==2.0.7"
idna = "==3.3"
requests = "==2.26.0"
urllib3 = "==1.26.7"
wincertstore = "==0.2"

[dev-packages]
flake8 = "*"
pytest = "*"
coverage = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
